-# %nav.breadcrumb
  -# display_breadcrumbs

= haml :sidebar, :layout => false
#content
  .spacer
  %article(role="main")
    ~ @page.to_html(self)
    - if @page.articles.empty?
      <h5><span style="position: relative; top: -5px;">If you've read this far, you should follow me on Twitter:</span> <a href="https://twitter.com/willbarrettdev" class="twitter-follow-button" data-show-count="false">Follow @willbarrettdev</a></h5><br />
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

    %section.pages
      = haml :summaries, :layout => false, :locals => { :pages => @page.pages }

    - unless @page.articles.empty?
      %section.articles
        -# %header
        -#   %h1= "Articles on #{@page.heading}"
        = haml :summaries, :layout => false, :locals => { :pages => @page.articles, :heading => :h3 }
    
    = haml :page_meta, :layout => false, :locals => { :page => @page }

  - if @page.articles.empty?
    = haml :comments, :layout => false
